main {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-top: 20px;
    background-color: yellow;
    padding: 4em;
}

section {
    background-color: aqua;
    margin-left:10em;
    margin-right: 10em;
}
#dado {
    background-color: red;
    margin: 5em;
    padding: 70px;
}

h5{
    font-size: 90px;
    color: white;
}